<!DOCTYPE html>
<html>
  <head>
    <title>MembersOnly</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% flash.each do |message_type, message| %>
      <p class=<% message_type %> >
        <%= message %>
      </p>
    <% end %>
    <div class="links">
      <% if member_signed_in? %>
        <div class="current-member-username">
          Logged in as <%= current_member.username %>
        </div>
        <%= link_to "New Post", new_post_path %>
        <%= link_to "Logout", destroy_member_session_path, method: :delete %>
      <% else %>
        <h1>Welcome to Members Only!</h1>
        <div class="login-signup">
        <% if current_page?(root_path) %>
          <p>You can
          <%= link_to "Login", new_member_session_path %>
          or
          <%= link_to "Sign Up", new_member_registration_path %>
        <% end %>
          </p>
        </div>
      <% end %>
    </div>
    <%= yield %>
  </body>
</html>
